.profilePage_user_have
  = link_to  new_medical_history_path do
    .profilePage_user_have_item.btn.btn-outline-secondary
      %p.title
        %i.fas.fa-briefcase-medical
      %p.new
        既往歴
  = link_to  vitals_path do
    .profilePage_user_have_item.btn.btn-outline-secondary
      %p.title
        %i.fas.fa-heartbeat
      %p.new
        Vital一覧
  = link_to memos_path do
    .profilePage_user_have_item.btn.btn-outline-secondary
      %p.title
        %i.fas.fa-book-open
      %p.new
        メモ一覧
  = link_to  profile_user_path do
    .profilePage_user_have_item.btn.btn-outline-secondary
      %p.title
        %i.fas.fa-user
      %p.new
        登録情報
  -if current_user.name != "guestuser" 
    = link_to edit_profile_user_path do
      .profilePage_user_have_item.btn.btn-outline-secondary
        %p.title
          %i.fas.fa-key
        %p.new
          パスワード