- medical_histories.each do |medical|
  .card.w-75.mx-auto
    .container
      .disease_name.medical_histories_edit
        = medical.disease_name
        .dropdown
          = image_tag "actions.svg",class: 'dropbtn'
          .dropdown-content.mini
            = link_to '編集する',edit_medical_history_path(medical)
            = link_to '削除する',medical_history_path(medical),data:{method: 'delete',confirm:'本当に削除してもよろしいですか？'}
      %br
      発症時期: #{medical.disease_when_onset}