%header#header.header-admin
  .header_logos
    %p.header_pageTitle
      - if admin_signed_in?
        = link_to  dashboard_path do
          = image_tag "ojiji.png", size: "250x250"
        %br
        = link_to "おばばcareへ", root_path ,class: 'header_btn'
        = link_to "会員一覧", dashboard_users_path, class: 'header_btn'
        = link_to "管理者ログアウト", dashboard_logout_path, data: { method: 'delete' } ,class: 'header_btn'
      - else
        = image_tag "ojiji.png", size: "250x250"