<div class="container">
  <ul>
    <%= render 'layouts/error', object: vital %>
  </ul>
  <%= form_with(model: vital, local: true) do |f|%>
    <div>
      <%= f.label :day, '計測日' %>
    </div>
    <div>
      <%= f.datetime_field :day, class: "text" %>
    </div>
    <div>
      <%= f.label :temperature, '体温(度)' %>
    </div>
    <div>
      <%= f.text_field :temperature, class: 'text' %>
    </div>
    <div>
      <%= f.label :high_bp, '収縮期血圧(上の血圧mmHg)' %>
    </div>
    <div>
      <%= f.text_field :high_bp, class: 'text' %>
    </div>
    <div>
      <%= f.label :low_bp, '拡張期血圧(下の血圧mmHg)' %>
    </div>
    <div>
      <%= f.text_field :low_bp, class: 'text' %>
    </div>
    <div>
      <%= f.label :pulse , '脈拍数(回/分)' %>
    </div>
    <div>
      <%= f.text_field  :pulse , class: 'text' %>
    </div>
    <div>
      <%= f.label :breathing, '呼吸数(回/分)' %>
    </div>
    <div>
      <%= f.text_field  :breathing , class: 'text' %>
    </div>
    <div>
      <%= f.label :oxygen_saturation, '酸素飽和度(%)' %>
    </div>
    <div>
      <%= f.text_field :oxygen_saturation, class: 'text' %>
    </div>
    <div>
      <%= f.label :moisture_supply, '水分量(mL)' %>
    </div>
    <div>
      <%= f.text_field :moisture_supply, class: 'text' %>
    </div>
    <%= f.submit '保存', class: 'btn-log' %>
  <% end %>
</div>