.container
  = render 'commons/tab'
  = render 'commons/search'
  - @vitals.each do |vital|
    = link_to vital_path(vital) do
      .card
        .card_vital.container.table-responsive
          = render 'vital', vital: vital
        .card_detail
          .card_content
            .card_comment
              コメント入れる
            .card_faces
              - if user_signed_in?
                - if current_user.defecation_by?(vital)
                  .vital_feces
                    = image_tag 'feces-active.svg'
                - else
                  .vital_feces
                    = image_tag 'feces.svg'
            .card_day
              %p= vital.vital_created_at
          .card_content
            = image_tag 'water.png',size: "50x50"
            = " x #{vital.moisture_quantity}杯"
            = "(#{vital.moisture_supply}mL)"
            = moisture_supply_check(vital)
  = paginate @vitals
  = render 'new_btn'