.container
  = render 'commons/tab'
  = render 'search'
  - @vitals.each do |vital|
    %div{:id => "vital_#{vital.id}"}
      = link_to vital_path(vital) do
        .card
          .card_vital.container.table-responsive
            = render 'vital', vital: vital
          .card_detail
            .card_content
              .card_comment
                %p.card_title
                  最新コメント
                %br
                %div{:class => "#{comment_exists?(vital.comments)}"}
                  - vital.comments.last(1).each do |comment|
                    = comment.content
              .card_faces.feces-btn
                = render 'defecations/feces-btn' , vital: vital
              .card_day
                %p= vital.vital_created_at
            .card_content
              %p.card_title
                水分補給
              = image_tag 'water.png',size: "50x50"
              = " x #{vital.moisture_quantity}杯"
              = "(#{vital.moisture_supply}mL)"
              %br
              .moisture-check.red
                = moisture_supply_check(vital)
  = paginate @vitals
  = render 'new_btn'