.container
  = link_to "一覧へ",vitals_path, class: "btn btn-secondary btn-sm"

  .vital{:id => "vital_#{@vital.id}"}
    .vital_day
      %h1.vital_title
        = @vital.vital_created_at
      .dropdown
        = image_tag "actions.svg",class: 'dropbtn'
        .dropdown-content.mini
          = link_to '編集する',edit_vital_path(@vital)
          = link_to '削除する',vital_path(@vital),data:{method: 'delete',confirm:'本当に削除してもよろしいですか？'}
    .vital_detail
      .container.table-responsive
        = render 'vital', vital: @vital
    .vital_content
      .vital_moisture
        = form_with model:@vital, url: vital_path(@vital),method: :patch, local: true  do |f|
          = f.label :moisture_supply, '水分量'
          = f.text_field :moisture_supply, class: 'form-moisture'
          mL
          = f.submit "更新",  class: "btn btn-secondary btn-sm"
      %p 1コップ（200mL）
      - for num in 1..@vital.moisture_quantity
        = image_tag 'water.png',size: "80x80"

    .vital_feces.feces-btn
      = render 'defecations/feces-btn' , vital: @vital

  // コメント
  .vital
    %h2.vital_comment コメント一覧
    %ul.timeline
      = render 'comments/index', vital: @vital
  %ul.error_comment
    = render 'layouts/error', object: @comment
  = form_with(model: [@vital,@comment],local: false) do |f|
    %div.mt-5
      = f.label :is_important, '●重要ですか'
    %div
      = f.radio_button :is_important, :true
      = f.label :is_important, 'はい'
      = f.radio_button :is_important, :false, checked: true
      = f.label :is_important, 'いいえ' 
    %div.mt-3
      = f.label :emotion, '●その時の感情を登録してください'
    %div
      = f.collection_radio_buttons :emotion, Comment.emotions_i18n, :first , :last do |b|
        = b.label(class: "radio_button") { b.radio_button(class: "radio_button") + b.text }
      %br/
    %div.mt-3
      = f.label :content, '●コメント内容'
    %div
      = f.text_field :content, class: 'text',required: true, placeholder: "#{I18n.l(@vital.day, format: :default)} のコメント入力"
    = f.submit '保存', class: 'btn-log mb-3'
    
    