.container
  = link_to '戻る', vitals_path, class: "btn btn-secondary btn-sm"
  = render 'commons/comment_tab'
  - if defecations_exists?(@defecations)
    .carriergiver
      = image_tag 'obaba-care.png', size: "100x100"
      %div.carriergiver_message
        %p
          便秘気味です
        (#{2.day.ago.to_date}~#{Time.zone.now.to_date}の間)
  - @vitals.each do |vital|
    - vital.comments.important_comment.each do |comment|
      .card.card_important
        .card_important_vitalday
          = comment.vital.vital_created_at
        .card_important_comment
          = comment.content
        = form_with model: [vital,comment], url: vital_comment_path(vital,comment), local: true, method: :patch do |f|
          - if comment.is_important
            = f.submit "解決済にする", class: "btn btn-outline-primary  btn-sm"