.container
  = link_to '戻る', memos_path, class: "btn btn-secondary btn-sm"
  %ul
    = render 'layouts/error', object: memo
  = form_with(model: memo, local: true) do |f|
    %div
      = f.label :image, '画像'
    %div
      = f.file_field :image, accept: "image/*"
    %div
      = f.label :category, 'カテゴリー'
    %div
      = f.select :category, Memo.categories_i18n.invert, {include_blank: "カテゴリーを選択して下さい"}, {class: "form-control", required: true}
    %div
      = f.label :title, 'タイトル'
    %div
      = f.text_field :title, class: 'text'
    %div
      = f.label :content, '内容'
    %div
      = f.text_area :content, class: 'text'
    = f.submit '保存', class: 'btn-log'
