.container
  = render 'commons/tab'
  - @memos.each do |memo|
    .card.card_memo
      .container
        .card_mem_content.text-right
          .dropdown
            = image_tag "actions.svg",class: 'dropbtn'
            .dropdown-content.mini
              = link_to '編集する',edit_memo_path(memo)
              = link_to '削除する',memo_path(memo),data:{method: 'delete',confirm:'本当に削除してもよろしいですか？'}
        .d-flex.card_memo_image
          = image_tag 'water.png'
          .card_memo-detail
            %h2= memo.title
            %br
            %p= memo.content
  = paginate @memos
  - if user_signed_in?
    = link_to new_memo_path do
      .float_btn
        %i.fa.fa-plus
