.container
  = render 'commons/tab'
  - @memos.each do |memo|
    .card
      = image_tag 'water.png',size: "50x50"
      = memo.title
      %br
      = memo.content
  = paginate @memos
  - if user_signed_in?
    = link_to new_memo_path do
      .float_btn
        %i.fa.fa-plus
