%header#header.header
  .header_logos
    %p.header_pageTitle
      - if user_signed_in?
        .header_login
          = link_to  vitals_path do
            = image_tag "obaba-logo.png", size: "250x250"
          %br
          - if only_this_page(comment_importants_path)
            = link_to  'バイタル一覧', vitals_path,class: "header_loginBtn mb-3"
          -else
            =link_to comment_importants_path, class: "header_loginBtn" do
              重要コメント(#{ Date.today.month}月)
          
      - else
        = link_to  root_path do
          = image_tag "obaba-logo.png", size: "250x250"
        %br
        = link_to "ログイン", new_user_session_path ,class: 'header_loginBtn'
        = link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, class: 'header_loginBtn', method: :post
  - if user_signed_in?
    .openbtn
      %span
      %span
      %span
    %nav#g-nav
      #g-nav-list
        / ナビの数が増えた場合縦スクロールするためのdiv※不要なら削除
        %ul
          %li= image_tag "obaba-logo.png", size: "150x150"
          %li= link_to 'マイページ', profile_path
          %li= link_to "バイタル", vitals_path
          %li= link_to "メモ", memos_path
          %li= link_to "感情日記", emotions_path
          %li= link_to 'logout', destroy_user_session_path, data: { method: 'delete' }
%script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"}
:javascript
  $(".openbtn").click(function () {//ボタンがクリックされたら

    $(this).toggleClass('active');//ボタン自身に activeクラスを付与し
    $("#g-nav").toggleClass('panelactive');//ナビゲーションにpanelactiveクラスを付与

  });

  $("#g-nav a").click(function () {//ナビゲーションのリンクがクリックされたら

    $(".openbtn").removeClass('active');//ボタンの activeクラスを除去し
    $("#g-nav").removeClass('panelactive');//ナビゲーションのpanelactiveクラスも除去

  });
